*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url(img/images.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
 

.container{
    background: rgba(0, 0, 0, 0.7);
    width: 700px;
    position: absolute;
    margin-top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.autocomplete{
    display: flex;
    flex-direction:row;
}

.autocomplete input{
    padding: 10px 10px;
    max-width: 500px;
    margin: 10px;
    border-radius: 15px;
}
.autocomplete button{
    padding: 5px 10px;  
    margin: 10px 0;  
    border-radius: 50%;
    cursor: pointer;
}


.details h1{
    font-size: 40px;
    font-weight: 500;
    padding-top: 10px;
}

.img,
#humidity,
#windSpeed{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.weather-icon{
    background: white;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
}
/* autocomplete form items*/

.autocompleteForm {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocompleteForm-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocompleteForm-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocompleteForm-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocompleteForm-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }



